@tailwind base;

@tailwind components;


@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    background-color: rgb(34, 40, 49);
    /* overflow: unset; */
}
a{
    transition: color 0.3s;
}
.bg-body{
    background-color: rgb(34, 40, 49);
  }
.text-yellow{
    color: rgb(239, 187, 53);
}
.text-yellow-shadow{
    text-shadow: 0px 1px 7px rgba(239, 187, 57);
}
.bg-nav{
    background: linear-gradient(to right, rgb(47, 45, 35), rgb(40, 49, 62));
}
.none{
    display: none;

}
.hide-nav{
    width: 100%;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.lato{
    font-family: 'Lato', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
/* nav menu */
.lg-nav a:hover,
.lg-nav a:focus {
    color: rgb(239, 187, 53);
    text-decoration: underline solid;
}
.list-circle{
    list-style: circle;
}
/* overlay nav */
.overlay {
    height: 100%;
    /* width: 100%; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;


}

.overlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a, .overlay button {
    display: block;
    color: white;
    padding: 8px;
    transition: 0.3s;
}

.overlay a:hover,.overlay button:hover,.overlay button:focus,
.overlay a:focus {
    color: rgb(239, 180, 53);
    text-decoration: underline solid;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.contact-hr{

    margin-left: 20px;
}
/* .contact p::after{
    content: " ";
    margin-left: 2px;
 
    border-right: 2px solid;
    color: teal;
    
} */
.logo:hover{
    color: rgb(239, 187, 53); 
    text-shadow: 0px 1px 7px rgba(239, 187, 57);
}
.nav-lg{
    display: none;
}
@media only screen and (min-width: 768px){
    .nav-sm{
        display: none;
    }
    .nav-lg{
        display: block;
    }
}
.nav-lg a:hover{
    color: rgb(239, 187, 53);
    text-decoration: underline solid;
}
