@tailwind base;

@tailwind components;


@tailwind utilities;

body{
    background-color: rgb(34, 40, 49);
}
.bg-body{
    background-color: rgb(34, 40, 49);
  }
.text-yellow{
    color: rgb(239, 187, 53);
}
.text-yellow-shadow{
    text-shadow: 0px 1px 7px rgba(239, 187, 57);
}
.bg-nav{
    background: linear-gradient(to right, rgb(47, 45, 35), rgb(40, 49, 62));
}
.none{
    display: none;

}
.hide-nav{
    width: 100%;
}

/* nav menu */
.lg-nav a:hover,
.lg-nav a:focus {
    color: rgb(239, 187, 53);
    text-decoration: underline solid;
}

/* overlay nav */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;


}

.overlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a, .overlay button {
    display: block;
    color: white;
    padding: 8px;
    transition: 0.3s;
}

.overlay a:hover,.overlay button:hover,.overlay button:focus,
.overlay a:focus {
    color: rgb(239, 180, 53);
    text-decoration: underline solid;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}